@charset "utf-8";
/* CSS Document */
body,div,p,ul,li,span,em{padding:0;margin:0;}
body{ background-color:#efefef; font-family:"Miscrosoft YaHei","Arial";}
ul,li{list-style:none;}
.boxs{width:960px; margin:0 auto; position:relative;}
.icon{ background-image:url(../images/icon.png); background-repeat:no-repeat;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{ clear:both;}
.clearfix{zoom:1;}
.nav{ background:#009a7a url(../images/navbg.jpg) no-repeat center top; height:106px; overflow:hidden;}
.nav .xm-logo{height:52px; width:322px; margin-top:27px;}
.content{ margin-top:20px;}
.side{position:relative;width:320px; padding-top:100px;}
.side .btn-file{font-size:24px;color:#fff; background-color:#00bf99; border-radius:5px;width:200px;height:58px; text-align:center;line-height:58px;margin:0 auto; cursor:pointer;}
.side .arrow{ font-size:14px; color:#555; background-position:0 -60px;height:80px; text-indent:66px; line-height:80px;margin-top:38px;}
.side .filetype{border-top:1px solid #ccc; padding-top:20px; position:relative; margin-top:46px;}
.side .filetype p{ color:#aaa; line-height:24px;}
.side .filetype h3{ color:#888; font-size:16px; text-align:center; background-color:#efefef;width:110px; line-height:30px;height:30px; position:absolute;left:50%;margin-left:-55px; top:-30px;}
.wide{ width:613px; background-color:#fff; border:1px solid #d3d3d3;}
.wide .file-size,.wide .file-state{width:105px; text-align:center;}
.wide .file-name{width:390px; padding-left:10px;}
.wide li{color:#333; font-size:14px; height:50px; line-height:50px; overflow:hidden; position:relative;}
.wide li:nth-child(odd){ background-color:#f9fafa;}
.wide li span{float:left;}
.wide li.tit{ background-color:#efefef; font-size:16px; height:30px; line-height:30px; padding:10px 0;}
.wide .tit .file-size{ border-left:1px solid #d3d3d3;border-right:1px solid #d3d3d3;}
.wide .succ{ color:#aaa;}
.wide .succ .file-state{ color:#00bf99}
.wide .fail .file-state{ color:#fb5753}
.draglist .file-state{ position:absolute;top:0;left:506px;}
.wide .reload,.wide .delete{ display:inline-block; vertical-align:middle;width:20px;height:20px; cursor:pointer; margin-left:5px;}
.wide .reload{ background-position:0 -158px;}
.wide .delete{background-position:-22px -158px;}

